@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');

.App {
  display: flex;
  flex-direction: column;
  align-items: center;

  color: darkcyan;
  font-size: 1.5rem;
}
