.footer {
  margin-top: 1rem;
  padding: 1rem 0;
  width: 100%;
  text-align: center;
  font-size: 1rem;
  background: #e6e6e6;
  color: rgba(0, 0, 0, 0.75);
}

.dark .footer {
  color: gray;
}

.footer a {
  opacity: 0.75;

  &:hover {
    opacity: 1;
  }
}

a.rsschool {
  display: flex;
  margin-bottom: 1rem;
  height: 36px;
  background-image: url(../../assets/rs_school.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  transition: opacity 0.2s;
  opacity: 0.75;
}
