html {
  height: 100%;
  min-width: 320px;
}

body {
  margin: 0;
  height: 100%;
  min-height: 100vh;
  position: relative;
  min-width: 320px;
  box-sizing: border-box;
  display: flex;

  font-size: 2rem;
  font-family: 'Roboto', sans-serif;
  background-color: #f2f2f2;
}

#root {
  width: 100%;
  display: flex;
  justify-content: center;
}
