body {
  text-align: center;
  font-size: 2rem;
  font-family: 'Roboto', sans-serif;
  height: 100%;
  min-height: 100vh;
  box-sizing: border-box;
  position: relative;
  margin: 0;
  min-width: 320px;
  // background-color: orange;
}
